<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Webscrapping</h1>
        <div>
          <label for="product">Write some text: </label>
          <input type="text" id="product" name="product">
        </div>
        <button id="search">Find</button>
        <div id="add_to_me">            
            
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript">
            $("#search").on("click", function(){
                $.ajax({
                    type:'POST',
                    url:"/amazon",
                    data: JSON.stringify({sendinfo:$("#product").val()}),
                    contentType: 'application/json; charset=utf-8',
                    success:function(response){
                        addCode(response);

                    },
                    error:function(response){
                        console.log('error');
                    }
                })
            });

            function addCode(data){
                var table = document.createElement('table');        
                var arrHead = new Array();
                arrHead = ['Description', 'Go there'];
                var tr = table.insertRow(-1);
                for (var h = 0; h < arrHead.length; h++) {
                    var th = document.createElement('th');              
                    th.innerHTML = arrHead[h];
                    tr.appendChild(th);
                }
                for (var c = 0; c < data["links"].length; c++) {
                    tr = table.insertRow(-1);

                    for (var j = 0; j < 2; j++) {
                        var td = document.createElement('td');         
                        td = tr.insertCell(-1);
                        if (j==0){
                            td.innerHTML = data["texto"][c];            
                        }
                        else{
                            td.innerHTML = '<button onclick= "window.open(\''+data["links"][c]+ '\')",_blank)";>Click here</button>';
                        }
                    }
                }        
                document.getElementById("add_to_me").appendChild(table);
            }

        </script>
    </body>
</html>